<h1>Edit Category</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.category_path(@conn, :update, @category)) %>

<span><%= link "Back", to: Routes.category_path(@conn, :index) %></span>
